generation-meter-user=xxxxxx
generation-meter-pass=xxxxxx
generation-meter-fields=Total Energy Consumption,Total Real Power,Average Current,Average Voltage (L-N),Total (System) Power Factor
scheduler-time=0 */15 * * * ?
elastic.url=http://xxx.xxx.xxx.xxx:9200